# 9.- Manejo de Entrada y Salida de Datos

##### 1) Crear un script con el nombre "clase09_ej1.py" que reciba 3 parametros a elección, verificando que sean exactamente esa cantidad, y muestre como salida los parámetros recibidos

##### 2) Crear un script con el nombre "clase09_ej2.py2" que reciba como un valor de temperatura en grados centígrados, un valor de humedad y por último si llovio (Con True o False). Y que cada vez que sea invocado, cargue en el archivo provisto "clase09_ej2.csv" una marca de tiempo y esa información.

Para trabajar con tipos de datos relacionados con la medición del tiempo, como ser fechas, horarios o marcas de tiempo se puede utilizar la clase *datetime*

``` python
import datetime

x = datetime.datetime.now()
print("Ahora =",x)
x = datetime.datetime(2020, 5, 10)
print("Fecha fija =",x)

fecha_hora = '2022-05-10 12:30:00'
objeto_datetime = datetime.datetime.strptime(fecha_hora, '%Y-%m-%d %H:%M:%S')
print("objeto datetime =", objeto_datetime)
marca_de_tiempo = datetime.datetime.timestamp(objeto_datetime)
print("timestamp =", marca_de_tiempo)
fecha_hora2 = datetime.datetime.fromtimestamp(marca_de_tiempo)
print("fecha hora =", fecha_hora2)
```

In [72]:
import datetime
import pandas as pd

Ahora = datetime.datetime.now()
print("Ahora =",Ahora)
x = datetime.datetime(2020, 5, 10)
print("Fecha fija =",x)

fecha_hora = '2022-05-10 12:59:12'
objeto_datetime = datetime.datetime.strptime(fecha_hora, '%Y-%m-%d %H:%M:%S')
print("objeto datetime =", objeto_datetime)
marca_de_tiempo = datetime.datetime.timestamp(objeto_datetime)
print("timestamp =", marca_de_tiempo)
marca_de_tiempo = datetime.datetime.timestamp(Ahora)
print("timestamp =", marca_de_tiempo)
fecha_hora2 = datetime.datetime.fromtimestamp(marca_de_tiempo)
print("fecha hora =", fecha_hora2)

df = pd.DataFrame([[1,2,2,3]],[0,2,6])
df.iloc[1]

Ahora = 2022-11-20 16:27:13.095665
Fecha fija = 2020-05-10 00:00:00
objeto datetime = 2022-05-10 12:59:12
timestamp = 1652205552.0
timestamp = 1668983233.095665
fecha hora = 2022-11-20 16:27:13.095665

0    1
1    2
2    2
3    3
Name: 2, dtype: int64

### 3) Crear un archivo a partir de los datos presentes en el diccionario provisto. El cual debe contener en la primera fila el nombre de las claves y luego cada línea los elementos i-ésimos de las listas de valores contiguos y separados por coma ','. Este archivo debe llamarse clase09_ej3.csv

``` python
montañas = {'nombre':[  'Everest','K2','Kanchenjunga','Lhotse','Makalu',
                        'Cho Oyu','Dhaulagiri','Manaslu','Nanga Parbat','Annapurna I'],
            'orden':[1,2,3,4,5,6,7,8,9,10],
            'cordillera':['Himalaya','Karakórum','Himalaya','Himalaya','Himalaya'
                        ,'Himalaya','Himalaya','Himalaya','Karakórum','Himalaya'],
            'pais': ['Nepal','Pakistán','Nepal','Nepal','Nepal','Nepal','Nepal','Nepal',
                    'Pakistán','Nepal'],
            'altura':[8849,8611,8586,8516,8485,8188,8167,8163,8125,8091]}
```

In [73]:
import pandas as pd

montañas = {'nombre':[  'Everest','K2','Kanchenjunga','Lhotse','Makalu',
                        'Cho Oyu','Dhaulagiri','Manaslu','Nanga Parbat','Annapurna I'],
            'orden':[1,2,3,4,5,6,7,8,9,10],
            'cordillera':['Himalaya','Karakórum','Himalaya','Himalaya','Himalaya'
                        ,'Himalaya','Himalaya','Himalaya','Karakórum','Himalaya'],
            'pais': ['Nepal','Pakistán','Nepal','Nepal','Nepal','Nepal','Nepal','Nepal',
                    'Pakistán','Nepal'],
            'altura':[8849,8611,8586,8516,8485,8188,8167,8163,8125,8091]}
key = list(montañas.keys())

df = pd.DataFrame(montañas)
df.to_csv('Clase09_ej3.csv',header=key,sep=',',index=False)
dfr = pd.read_csv('Clase09_ej3.csv')
dfr

         nombre  orden cordillera      pais  altura
0       Everest      1   Himalaya     Nepal    8849
1            K2      2  Karakórum  Pakistán    8611
2  Kanchenjunga      3   Himalaya     Nepal    8586
3        Lhotse      4   Himalaya     Nepal    8516
4        Makalu      5   Himalaya     Nepal    8485
5       Cho Oyu      6   Himalaya     Nepal    8188
6    Dhaulagiri      7   Himalaya     Nepal    8167
7       Manaslu      8   Himalaya     Nepal    8163
8  Nanga Parbat      9  Karakórum  Pakistán    8125
9   Annapurna I     10   Himalaya     Nepal    8091

### 4) Mostrar el tamaño en MB del archivo generado en el punto 3

In [76]:
import os
bytes = os.path.getsize('Clase09_ej3.csv')
MB = bytes/1000000
print('El tamaño en MB es:',MB)

El tamaño en MB es: 0.00037

### 5) Crear una carpeta llamada clase09_montañas_altas

In [79]:
os.mkdir('Clase09_Montañas_Altas_mio')

### 6) Copiar el archivo clase09_ej3.scv en la carpeta clase09_montañas_altas usando la sentencia **os.system**

In [87]:
os.system('copy Clase09_ej3.csv Clase09_Montañas_Altas_mio')

0

### 7) Listar el contenido de la carpeta clase09_montañas_altas

In [99]:
os.listdir('clase09_montañas_altas')

['clase09_ej3.csv']

In [100]:
os.listdir('Clase09_Montañas_Altas_mio')

['Clase09_ej3.csv']