## Tarea 2 del Python Prep Course

In [3]:
# 1) Crear una variable que contenga un elemento del conjunto de 
# números enteros y luego imprimir por pantalla

  var1 = 1
  print(var1)

1

In [5]:
# 2) Imprimir el tipo de dato de la constante 8.5

print(type(8.5))

<class 'float'>

In [7]:
# 3) Imprimir el tipo de dato de la variable creada en el punto 1

type(var1)

int

In [10]:
# 4) Crear una variable que contenga tu nombre
#5) Crear una variable que contenga un número complejo

name = 'Tinmar Armando'
complejo = 5+3j

print(name, complejo)

Tinmar Armando (5+3j)

In [9]:
# 6) Mostrar el tipo de dato de la variable crada en el punto 5

type(complejo)

complex

In [13]:
# 7) Crear una variable que contenga el valor del número Pi 
# redondeado a 4 decimales
import math
pi = math.pi

varpi = round(pi, 4)
print(varpi)

3.1416

In [15]:
#8) Crear una variable que contenga el valor 'True' y otra que 
# contenga el valor True. ¿Se trata de lo mismo?

var2 = 'True'
var3 = True

print(type(var2), type(var3), 'No son lo mismo')

<class 'str'> <class 'bool'> No son lo mismo

In [17]:
# 10) Asignar a una variable, la suma de un número entero 
# y otro decimal

var4 = 1 + 0.35
print(var4)

1.35

In [23]:
# 11) Realizar una operación de suma de números complejos

print((1+3j) + (2+5j))

print((1+3j) * (2+5j))

print((1+3j) / (2+5j))

print((1+3j) - (2+5j))

(3+8j)
(-13+11j)
(0.5862068965517241+0.03448275862068969j)
(-1-2j)

In [24]:
# 13) Realizar una operación de multiplicación

2*5

10

In [26]:
# 14) Mostrar el resultado de elevar 2 a la octava potencia

2**8

256

In [28]:
# 15) Obtener el cociente de la división de 27 entre 4 en una 
# variable y luego mostrarla

var5 = 27/4
print(var5)

6.75

In [29]:
# 16) De la división anterior solamente mostrar la parte entera

27 // 4

6

In [31]:
# 17) De la división de 27 entre 4 mostrar solamente el resto

27 % 4

3

In [38]:
# 18) Utilizando como operandos el número 4 y los resultados 
# obtenidos en los puntos 16 y 17. Obtener 27 como resultado

print(4 * 6 + 4 - 4%3)

27

In [42]:
# 19) Utilizar el operador "+" en una operación donde intervengan 
# solo variables alfanuméricas

'Hola' + " Mundo!"

'Hola Mundo!'

In [45]:
# 20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

'2' == 2

False

In [47]:
# 21) Utilizar las funciones de cambio de tipo de dato, 
# para que la validación del punto 20 resulte verdadera

int('2') == 2

True

In [52]:
# 22) ¿Por qué arroja error el siguiente cambio de tipo de datos? 
# a = float('3,8')

print('Porque el comando ''float'' necesita un punto, no una coma')

Porque el comando float necesita un punto, no una coma

In [54]:
# 23) Crear una variable con el valor 3, y utilizar el operador 
# '-=' para modificar su contenido

x = 3
x-=4
x

-1

In [59]:
# 24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? 
# ¿Qué es el sistema de numeración binario?

print(1 << 2)

print('Realmente no sé cómo se obtiene el resultado de dicha operación \n')
print('El sistema binario es un sistema duodecimal en donde se' 
    'utilizan los números 0 y 1')

4
Realmente no sé cómo se obtiene el resultado de dicha operación

El sistema binario es un sistema duodecimal en donde seutilizan los números 0 y 1

In [62]:
# 25) Realizar la operación 2 + '2' ¿Por qué no está permitido? 
# ¿Si los dos operandos serían del mismo tipo, 
# siempre arrojaría el mismo resultado?

#print(2 + '2')

print('Porque son tipos de datos que no se pueden operar entre si')
print('Si ambos son enteros o string darían siempre el mismo'
    'resultado')

Porque son tipos de datos que no se pueden operar entre si
Si ambos son enteros o string darían siempre el mismoresultado

In [66]:
#26) Realizar una operación válida entre valores de tipo 
# entero y string

print(2 + int('2'))

'hola' * 3

4

'holaholahola'