## Tarea 4: Estructuras de Datos

In [268]:
# 1) Crear una lista que contenga nombres de ciudades del mundo 
# que contenga más de 5 elementos e imprimir por pantalla

ciudades = ['Puebla', 'NewYork', 'Brazilia', 'Ginebra', 
            'Barcelona', 'Madrid' ]

ciudades

['Puebla', 'NewYork', 'Brazilia', 'Ginebra', 'Barcelona', 'Madrid']

In [269]:
# 2) Imprimir por pantalla el segundo elemento de la lista

ciudades[1]

'NewYork'

In [270]:
# 3) Imprimir por pantalla del segundo al cuarto elemento

ciudades[1:4]

['NewYork', 'Brazilia', 'Ginebra']

In [271]:
# 4) Visualizar el tipo de dato de la lista

type(ciudades)

list

In [272]:
# 5) Visualizar todos los elementos de la lista a partir del 
# tercero de manera genérica, es decir, sin explicitar la posición 
# del último elemento

ciudades[2:]

['Brazilia', 'Ginebra', 'Barcelona', 'Madrid']

In [273]:
# 6) Visualizar los primeros 4 elementos de la lista

print(ciudades[0:4])

for i in range(0,4):
    print(ciudades[i])

['Puebla', 'NewYork', 'Brazilia', 'Ginebra']
Puebla
NewYork
Brazilia
Ginebra

In [274]:
# 7) Agregar una ciudad más a la lista que ya exista y otra que 
# no ¿Arroja algún tipo de error?

ciudades.append('Colorado')
ciudades.append('Madrid')
ciudades.append('Madrid')
ciudades.append('Madrid')
ciudades.append('Madrid')
ciudades.append('Madrid')


print(ciudades)

['Puebla', 'NewYork', 'Brazilia', 'Ginebra', 'Barcelona', 'Madrid', 'Colorado', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid']

In [275]:
# 8) Agregar otra ciudad, pero en la cuarta posición

ciudades.insert(4, 'Sevilla')

ciudades

['Puebla',
 'NewYork',
 'Brazilia',
 'Ginebra',
 'Sevilla',
 'Barcelona',
 'Madrid',
 'Colorado',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid',
 'Madrid']

In [276]:
#9) Concatenar otra lista a la ya creada

a = tuple(range(0,5))
ciudades.append(a)
print(ciudades)
ciudades.extend(a)
print(ciudades)

# Aquí es importante notar que no es lo mismo el comando append que el comando extend cuando su argumento es una lista o una tupla.

# También es importante notar que una lista pueda contener tuplas y, además, se le pueden agregar tuplas enteras o se le pueden extender tuplas.

['Puebla', 'NewYork', 'Brazilia', 'Ginebra', 'Sevilla', 'Barcelona', 'Madrid', 'Colorado', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', (0, 1, 2, 3, 4)]
['Puebla', 'NewYork', 'Brazilia', 'Ginebra', 'Sevilla', 'Barcelona', 'Madrid', 'Colorado', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', (0, 1, 2, 3, 4), 0, 1, 2, 3, 4]

In [277]:
# 10) Encontrar el índice de la ciudad que en el punto 7 agregamos 
# duplicada. ¿Se nota alguna particularidad?

print(ciudades)

i = len(ciudades) - 1

while i < len(ciudades):
    if ciudades[i] == 'Madrid':
        print(i)
        break
    i -= 1

['Puebla', 'NewYork', 'Brazilia', 'Ginebra', 'Sevilla', 'Barcelona', 'Madrid', 'Colorado', 'Madrid', 'Madrid', 'Madrid', 'Madrid', 'Madrid', (0, 1, 2, 3, 4), 0, 1, 2, 3, 4]
12

In [278]:
# La función .remove() solo elimina la primera ocurrencia de la lista, al igual que el .index() solo regresa el índice de la primer ocurrencia.

# Una forma de utilizar .remove() para eliminar todas las repeticiones de una lista es mediante un ciclo while, y también podemos 
# saber en qué índices se encontraban con el mismo ciclo

indices = []

while 'Madrid' in ciudades:
    indices.append(ciudades.index('Madrid') + len(indices))
    ciudades.remove('Madrid')
print(ciudades)
print(indices)

['Puebla', 'NewYork', 'Brazilia', 'Ginebra', 'Sevilla', 'Barcelona', 'Colorado', (0, 1, 2, 3, 4), 0, 1, 2, 3, 4]
[6, 8, 9, 10, 11, 12]

In [279]:
# Aquí volvemos a la lista original...

ciudades.insert(6, 'Madrid')
ciudades.insert(8, 'Madrid')
print(ciudades)

['Puebla', 'NewYork', 'Brazilia', 'Ginebra', 'Sevilla', 'Barcelona', 'Madrid', 'Colorado', 'Madrid', (0, 1, 2, 3, 4), 0, 1, 2, 3, 4]

In [280]:
# 11) ¿Qué pasa si se busca un elemento que no existe?

print('Da error')

Da error

In [281]:
# 12) Eliminar un elemento de la lista

del(ciudades[9])
ciudades

['Puebla',
 'NewYork',
 'Brazilia',
 'Ginebra',
 'Sevilla',
 'Barcelona',
 'Madrid',
 'Colorado',
 'Madrid',
 0,
 1,
 2,
 3,
 4]

In [282]:
ciudades.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
# 13) ¿Qué pasa si el elemento a eliminar no existe?

print('Marca error')

Marca error

In [ ]:
# 14) Extraer el úlimo elemento de la lista, guardarlo en una 
# variable e imprimirlo

x = ciudades[-1:]
x

[4]

In [ ]:
# 15) Mostrar la lista multiplicada por 4

ciudades*4

['Puebla',
 'NewYork',
 'Brazilia',
 'Ginebra',
 'Sevilla',
 'Barcelona',
 'Madrid',
 'Colorado',
 'Madrid',
 0,
 1,
 2,
 3,
 4,
 'Puebla',
 'NewYork',
 'Brazilia',
 'Ginebra',
 'Sevilla',
 'Barcelona',
 'Madrid',
 'Colorado',
 'Madrid',
 0,
 1,
 2,
 3,
 4,
 'Puebla',
 'NewYork',
 'Brazilia',
 'Ginebra',
 'Sevilla',
 'Barcelona',
 'Madrid',
 'Colorado',
 'Madrid',
 0,
 1,
 2,
 3,
 4,
 'Puebla',
 'NewYork',
 'Brazilia',
 'Ginebra',
 'Sevilla',
 'Barcelona',
 'Madrid',
 'Colorado',
 'Madrid',
 0,
 1,
 2,
 3,
 4]

In [ ]:
# 16) Crear una tupla que contenga los números enteros del 1 al 20

y = tuple(range(1,21))
y

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [ ]:
y[10:16]

(11, 12, 13, 14, 15, 16)

In [ ]:
# 18) Evaluar si los números 20 y 30 están dentro de la tupla

20 and 30 in y

False

In [ ]:
# 19) Con la lista creada en el punto 1, validar la existencia del 
# elemento 'París' y si no existe, agregarlo. 
# Utilizar una variable e informar lo sucedido.

print('París' in ciudades)
ciudades.append('París')
ciudades

False

['Puebla',
 'NewYork',
 'Brazilia',
 'Ginebra',
 'Sevilla',
 'Barcelona',
 'Madrid',
 'Colorado',
 'Madrid',
 0,
 1,
 2,
 3,
 4,
 'París']

In [ ]:
# 20) Mostrar la cantidad de veces que se encuentra un elemento 
# específico dentro de la tupla y de la lista

a = 2
b = 'Madrid'

print('El número de veces que se repite la palabra', b, 'es:', 
        ciudades.count(b))
print('El número', a, 'se repite', y.count(a), 'vez')

El número de veces que se repite la palabra Madrid es: 2
El número 2 se repite 1 vez

In [ ]:
# 21) Convertir la tupla en una lista

lista = list(y)
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# 22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 
# variables

v1,v2,v3,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_ = y
print(v1,v2,v3)

1 2 3

In [ ]:
# 23) Crear un diccionario utilizando la lista creada en el punto 1,
# asignandole la clave "ciudad". Agregar tambien otras claves, 
# como puede ser "Pais" y "Continente".

dicc = {'Ciudad': ciudades,
        'País': ['México', 'EUA', 'España', 'Suiza', 'Brasil', 'Francia'],
        'Contine': ['America', 'Europa', ]
        }

dicc

{'Ciudad': ['Puebla',
  'NewYork',
  'Brazilia',
  'Ginebra',
  'Sevilla',
  'Barcelona',
  'Madrid',
  'Colorado',
  'Madrid',
  0,
  1,
  2,
  3,
  4,
  'París'],
 'País': ['México', 'EUA', 'España', 'Suiza', 'Brasil', 'Francia'],
 'Contine': ['America', 'Europa']}

In [ ]:
# 24) Imprimir las claves del diccionario

print(dicc.keys())

dict_keys(['Ciudad', 'País', 'Contine'])

In [ ]:
print(dicc.get('Ciudad'))

['Puebla', 'NewYork', 'Brazilia', 'Ginebra', 'Sevilla', 'Barcelona', 'Madrid', 'Colorado', 'Madrid', 0, 1, 2, 3, 4, 'París']