## Tarea 4: Estructuras de Datos

In [267]:
# 1) Crear una lista que contenga nombres de ciudades del mundo 
# que contenga más de 5 elementos e imprimir por pantalla

ciudades = ['Puebla', 'NewYork', 'Brazilia', 'Ginebra', 
            'Barcelona', 'Madrid' ]

ciudades

['Puebla', 'NewYork', 'Brazilia', 'Ginebra', 'Barcelona', 'Madrid']

In [268]:
# 2) Imprimir por pantalla el segundo elemento de la lista

ciudades[1]

'NewYork'

In [269]:
# 3) Imprimir por pantalla del segundo al cuarto elemento

ciudades[1:4]

['NewYork', 'Brazilia', 'Ginebra']

In [270]:
# 4) Visualizar el tipo de dato de la lista

type(ciudades)

list

In [271]:
# 5) Visualizar todos los elementos de la lista a partir del 
# tercero de manera genérica, es decir, sin explicitar la posición 
# del último elemento

ciudades[2:]

['Brazilia', 'Ginebra', 'Barcelona', 'Madrid']

In [272]:
# 6) Visualizar los primeros 4 elementos de la lista

print(ciudades[0:4])

for i in range(0,4):
    print(ciudades[i])

['Puebla', 'NewYork', 'Brazilia', 'Ginebra']
Puebla
NewYork
Brazilia
Ginebra

In [273]:
# 7) Agregar una ciudad más a la lista que ya exista y otra que 
# no ¿Arroja algún tipo de error?

ciudades.append('Madrid')
ciudades.append('Colorado')

print(ciudades)

['Puebla', 'NewYork', 'Brazilia', 'Ginebra', 'Barcelona', 'Madrid', 'Madrid', 'Colorado']

In [274]:
# 8) Agregar otra ciudad, pero en la cuarta posición

ciudades.insert(4, 'Sevilla')

ciudades

['Puebla',
 'NewYork',
 'Brazilia',
 'Ginebra',
 'Sevilla',
 'Barcelona',
 'Madrid',
 'Madrid',
 'Colorado']

In [275]:
#9) Concatenar otra lista a la ya creada

a = list(range(0,5))
ciudades.append(a)
ciudades

['Puebla',
 'NewYork',
 'Brazilia',
 'Ginebra',
 'Sevilla',
 'Barcelona',
 'Madrid',
 'Madrid',
 'Colorado',
 [0, 1, 2, 3, 4]]

In [276]:
# 10) Encontrar el índice de la ciudad que en el punto 7 agregamos 
# duplicada. ¿Se nota alguna particularidad?

print(ciudades)

i = len(ciudades) - 1

while i < len(ciudades):
    if ciudades[i] == 'Madrid':
        print(i)
        break
    i -= 1

['Puebla', 'NewYork', 'Brazilia', 'Ginebra', 'Sevilla', 'Barcelona', 'Madrid', 'Madrid', 'Colorado', [0, 1, 2, 3, 4]]
7

In [277]:
# 11) ¿Qué pasa si se busca un elemento que no existe?

print('Da error')

Da error

In [278]:
# 12) Eliminar un elemento de la lista

del(ciudades[9])
ciudades

['Puebla',
 'NewYork',
 'Brazilia',
 'Ginebra',
 'Sevilla',
 'Barcelona',
 'Madrid',
 'Madrid',
 'Colorado']

In [279]:
# 13) ¿Qué pasa si el elemento a eliminar no existe?

print('Marca error')

Marca error

In [280]:
# 14) Extraer el úlimo elemento de la lista, guardarlo en una 
# variable e imprimirlo

x = ciudades[-1:]
x

['Colorado']

In [281]:
# 15) Mostrar la lista multiplicada por 4

ciudades*4

['Puebla',
 'NewYork',
 'Brazilia',
 'Ginebra',
 'Sevilla',
 'Barcelona',
 'Madrid',
 'Madrid',
 'Colorado',
 'Puebla',
 'NewYork',
 'Brazilia',
 'Ginebra',
 'Sevilla',
 'Barcelona',
 'Madrid',
 'Madrid',
 'Colorado',
 'Puebla',
 'NewYork',
 'Brazilia',
 'Ginebra',
 'Sevilla',
 'Barcelona',
 'Madrid',
 'Madrid',
 'Colorado',
 'Puebla',
 'NewYork',
 'Brazilia',
 'Ginebra',
 'Sevilla',
 'Barcelona',
 'Madrid',
 'Madrid',
 'Colorado']

In [282]:
# 16) Crear una tupla que contenga los números enteros del 1 al 20

y = tuple(range(1,21))
y

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [283]:
y[10:16]

(11, 12, 13, 14, 15, 16)

In [284]:
# 18) Evaluar si los números 20 y 30 están dentro de la tupla

20 and 30 in y

False

In [285]:
# 19) Con la lista creada en el punto 1, validar la existencia del 
# elemento 'París' y si no existe, agregarlo. 
# Utilizar una variable e informar lo sucedido.

print('París' in ciudades)
ciudades.append('París')
ciudades

False

['Puebla',
 'NewYork',
 'Brazilia',
 'Ginebra',
 'Sevilla',
 'Barcelona',
 'Madrid',
 'Madrid',
 'Colorado',
 'París']

In [288]:
# 20) Mostrar la cantidad de veces que se encuentra un elemento 
# específico dentro de la tupla y de la lista

a = 2
b = 'Madrid'

print('El número de veces que se repite la palabra', b, 'es:', 
        ciudades.count(b))
print('El número', a, 'se repite', y.count(a), 'vez')

El número de veces que se repite la palabra Madrid es: 2
El número 2 se repite 1 vez

In [290]:
# 21) Convertir la tupla en una lista

lista = list(y)
lista

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [294]:
# 22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 
# variables

v1,v2,v3,_,_,_,git _,_,_,_,_,_,_,_,_,_,_,_,_,_ = y
print(v1,v2,v3)

1 2 3